<!DOCTYPE html>
<html>
<head>
  <title>Pledge Up</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<footer class='text-center text-white'>
    <ul class="list-unstyled">
      <li><a href="">Pledge</a></li>
      <li><a href="">Calculate</a></li>      
      <li><a href="">Causes</a></li>      
      <li><a href="">About</a></li>            
    </ul>
</footer>
</body>
</html>
