<!DOCTYPE html>
<html>
<head>
  <title>Pledge Up</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="">
  <div class='nav-left'>
    <div class="nav-logo">
    </div>
    <ul>
      <li><a href="">About</a></li>
      <li><a href="">Resources</a></li>      
      <li><a href="">Faq</a></li>      
    </ul>
  </div>
  <div class='nav-right'>
    <div class="pledge-count">
      199999
    </div>
  </div>

</nav>

<%= yield %>

<footer class='text-center text-white'>
  <h1>footer links!</h1>
</footer>
</body>
</html>
